<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
<add name="DefaultConnection"
         connectionString="Data Source=tcp:dws-app-server.database.windows.net,1433;
         Initial Catalog=PortfolioSiteDbRedux;
         User Id=dwsbugtrackerproject;
         Password=42Astr8Flu5h1;
         Persist Security Info=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>